<div class="build-info">
    <h2 class="information-title">Інформація про будинок</h2>
    <ul class="information-list">
        <li class="information-list__item">
            <div>
                <strong>Адреса:</strong>
                <i id="addressbuild">вул.Незалежності 7</i>
            </div>
            <div>
                <strong>Кіл-ть проданих квартир:</strong>
                <i id="soldbuild">2</i>
            </div>
            <div>
                <strong>Загальна кіл-ть квартир:</strong>
                <i id="flatsbuild">8</i>
            </div>
            <div>
                <strong>Заброньованих квартир:</strong>
                <i id="reservationbuild">3</i>
            </div>
            <div>
                <strong>Вільних квартир:</strong>
                <i id="freebuild">4</i>
            </div>
            <div>
                <strong>Поверх:</strong>
                <i id="floorbuild">1</i>
            </div>
            <div>
                <strong>Акційні квартири:</strong>
                <i id="actionbuild">2</i>
            </div>
            <div>
                <strong>Кіл-ть поверхів:</strong>
                <i id="floorbuild">5</i>
            </div>
        </li>
    </ul>
</div>